.calendar-container {
  font-family: Arial, sans-serif;
  width: 300px;
  margin: 0 auto;
  border: none;
  padding: 20px;
}

.header-container {
  background-color: #e8e7e7;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.calendar-header h2 {
  font-size: 18px;
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

.calendar-header button {
  font-size: 18px;
  color: #bebdbd;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  background: transparent;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.weekday {
  color: #000;
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-top: 5px;
}

.calendar-day {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 100px;
  cursor: pointer;
  position: relative;
}

.calendar-day.current-month {
  background-color: #fff;
}

.calendar-day.selected {
  background-color: #42e668;
  color: #fff;
}

.calendar-day.current-day.selected {
  background-color: #42e668;
  color: #fff;
}

.calendar-day.current-day {
  background-color: #bebdbd;
  color: #fff;
}

.calendar-day.other-month {
  color: #ccc;
}

.calendar-day.past-day {
  background-color: transparent !important;
  color: #ccc;
}

button {
  color: #000000;
}
